html{
    font-family: Helvetica, sans-serif;
}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.input-row{
    display: flex;
    flex-direction: row;
    min-height:90px;
    width: 510px ;
    justify-content: space-between;
}   
.input{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    min-height: 50px;
}
.input > input{
    padding: 10px;
    color: black;
    width: 228px;
}
.select-row{
    display: flex;
    width: 510px;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
    font-weight: 700;
}
.open{
    display: none;
}
.links{
    margin-top: 20px;
    display: flex;
    width: 510px;
    flex-direction: row;
    justify-content: space-between;
}
.links > button{
    border-radius: 20px;

    padding: 10px 15px;
    border: transparent;
    background-color:  #00447c;
    color: white;
    font-size: 12px;
    font-weight: 700;
}
.links > a{
    text-decoration: none;
    font-weight: 700;
    color: #00447c;
font-size: 12px;
}
.select-activator{
    padding:10px 10px;
    display: flex;
    justify-content: space-between;
    color: #00447c;
    flex-direction: row;
    font-weight: 700;
    background-color: transparent;
    border: #00447c 1px solid;
    border-radius: 5px;
    min-width: 250px;
    background-color: #F0F8F8;
}
.select-activator >span{
    display: flex;
}
.open{
    flex-direction: column;
    border: 1px solid #414141;
    border-radius: 5px;
}
.open > span{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    font-weight: 700;
}
.divider{
    width: 100%;
    background-color: #414141;
    height: 0.5px;
}
.warning{
    font-size: 8px;
    color:#b30000;
    display: none;
}
svg{
    height: 15px;
    display: flex;
}
.input-label{
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
}
.title{
    font-weight: 700;
    margin-right: 390px;
}